.hidden {
    display: none;
}

#dynamic-fields {
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

select, input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Alinear los radio buttons uno al lado del otro */
.radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10vh;
}
.radio-group input[type="radio"] {
    margin-left: 5px;
}